.product-card {
  width: 300px;
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 24px;
  img {
    width: 100%;
    border-radius: 8px 8px 0 0;
  }
  .product-content {
    padding: 24px;
    position: relative;

    button {
      position: absolute;
      bottom: 0;
      width: 60%;
    }
  }
}
